<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="width: 100vw;">
    <header class="position-relative">
        <h1 class="text-center mt-4 mb-4">Create Article</h1>
    </header>
    <form action="/articles" method="POST" style="height: 75vh;" class="container-sm form-group text-left d-flex flex-column bg-dark w-75 text-light">
        <%- include('_form_edit') %>
      </form>
</body>
</html>